.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
     background-image: url('../images/MenuBg.jpg');
}

.container-fluid h3{
        margin-top:10px;
}


/*Added for label in modal pop up*/

.modal-header label{
    width:150px;
}

.modal-body label{
    width:150px;
}

.modal-body select{
    width:174px;
}

.modal-body textarea{
        width: 180px;
    height: 75px;
}

.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*.no-calendar::-webkit-calendar-picker-indicator {
    display: none;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}*/